<div class="form-group">
  <label for="userName">Username</label>
  <input
    required
    value="<%= post.userName %>"
    type="text"
    name="userName"
    id="userName"
    class="form-control py-4"
  />
</div>
<div class="form-group">
  <label for="message">message</label>
  <textarea name="message" id="message" class="form-control py-4">
<%= post.message %></textarea
  >
</div>
<div class="form-group">
  <label for="imageUrl">imageUrl</label>
  <input
    required
    value="<%= post.imageUrl %>"
    type="text"
    name="imageUrl"
    id="imageUrl"
    class="form-control py-4"
  />
</div>

<a href="/" class="btn btn-secondary mt-4 mx-3">Cancel</a>
<button type="submit" class="btn btn-primary mt-4">Save</button>
